
.FOOD{
    position: relative;
    top: 56px;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px; 
}


.FOOD-MACROS-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: rgb(35, 35, 35);
}

.MACROS-DIV-CAL{
    position: relative;
    color: #702bbc;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 90px;;
    padding-top: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.MACROS-DIV-CAL-CAL{
    position: relative;
    width: 100%;
    height: 50px;;
    font-size: 22px;
}

.MACROS-DIV-CAL-LABEL{
    position: relative;
    width: 100%;
    height: 10px;;
    font-size: 8px;
    color: black  !important;
    margin-bottom: 10px;    
}

.MACROS-DIV-CAL-GOAL{
    position: relative;
    width: 30%;
    float: left;
    padding-left: 5px;
    text-align: center;
    color: #702bbc;
}

.MACROS-DIV-CAL-GOAL-LABEL{
    position: relative;
    width: 30%;
    float: left;
    padding-left: 5px;
    text-align: center;
    color: rgb(210,210,210);
}

.MACROS-DIV-CAL-MIN{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(210,210,210);
}

.MACROS-DIV-CAL-MIN-LABEL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(25, 25, 25);
}


.MACROS-DIV-CAL-TOTAL{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    color: #702bbc;
}

.MACROS-DIV-CAL-TOTAL-LABEL{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    color: rgb(210,210,210);
}


.MACROS-DIV-CAL-EQUAL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(210,210,210);
}

.MACROS-DIV-CAL-EQUAL-LABEL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(25, 25, 25);
}

.MACROS-DIV-CAL-RES{
    position: relative;
    width: 30%;
    float: left;
    padding-right: 5px;
    text-align: center;
    color: #702bbc;
}

.MACROS-DIV-CAL-RES-LABEL{
    position: relative;
    width: 30%;
    float: left;
    padding-right: 5px;
    text-align: center;
    color: rgb(210,210,210);
}

.MACROS-DIV-LABEL{
    position: relative;
    width: 100%;
    margin-bottom: 10px
}

.MACROS-TYPE{
    position: relative;
    width: 20%;
    padding-left: 2%;
    font-size: 10px;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(210,210,210);
}


.MACROS-TOTAL-GRAMS{
    position: relative;
    width: 60%;
    padding-left:5%; 
    float: left;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(210,210,210);

}


.MACROS-GOAL-GRAMS{
    position: relative;
    width: 18%;
    right: 2%;
    float: left;
    text-align: right;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(210,210,210);

}


.MACROS-DIV-PROGRESS{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}


.MACROS-DIV-PROGRESS-ROW-TYPE{
    position: relative;
    float: left;
    width: 26%;
    left: 2%; 
    color: #702bbc;
}


.MACROS-DIV-PROGRESS-ROW-TOTAL{
    position: relative;
    float: left;
    width: 6%;
    margin-top: 6px;
    font-size: 8px; 
    color: rgb(210,210,210);
}

.MACROS-DIV-PROGRESS-ROW-PROGRESS{
    position: relative;
    float: left;
    width: 56%;
    margin-top: 6px;
    padding-top: 5px;
}

.PROGRESS-BACK{
background-color: rgb(25, 25, 25);
height: 5px;
}
.MACROS-DIV-PROGRESS-ROW-GOAL{
    position: relative;
    float: left;
    width: 8%;
    margin-top: 6px;
    text-align: right;
    padding-left: 2px;
    font-size: 8px; 
    color: rgb(210,210,210);
}

.PRO{
   background-color: rgb(224, 39, 55);
   color: white;
}

.CARB{
    background-color: rgb(29, 139, 25); 
    color: white;
}

.FAT{
    background-color: rgb(175, 128, 0);
    color: white;
}

.EDIT-CAL-BTN{
    position: relative;
    background-color: #712bbc00;
    width: 15%;
    left: 83%;
    right: 2%;
    height: 35px;;
    font-size: 12px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    float: left;
}
   

.EDIT-CAL-BTN:hover{
    background-color: #00000000;
    color: white;
}

.EDIT-ICON{
       position: relative;
       width: 25px;
       height: auto;
       text-align: center;
}




.EDIT-MACROS-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: rgb(35, 35, 35);
}

.EDIT-MACROS-DIV-GOAL-CAL{
position: relative;
width: 100%;
height: 90px;
background-color: rgb(25, 25, 25);
border-top-left-radius: 6px; 
border-top-right-radius: 6px; 
transition: 0.3s;
}

.OPTION-DIV{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.OPTION-DIV ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 98%;
    left: 1%;
    right: 1%;
}

.OPTION-DIV ul li{
    float: left;
    width: 50%;
    text-align: center;
    color: white;
    height: 40px;
}

.OPTION-DIV ul li{
    float: left;
    width: 50%;
    text-align: center;
    color: white;
    height: 40px;
}
.OPTION-DIV ul li:hover{
   cursor: pointer;
}


.ACTIVE-OPTION{
    border-bottom: 3px solid #702bbc; 
}



.EDIT-CAL-INPUT{
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: rgb(25, 25, 25);
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
    text-align:center;
    transition: 0.3s;
    color: rgb(210,210,210);
    font-size: 30px;
}

.EDIT-CAL-INPUT:focus{
    background-color: rgb(25, 25, 25);
    border: 0px;
    color: rgb(210,210,210);
    box-shadow: -1px -1px 5px 1px #712bbc,
    1px 1px 5px 1px #712bbc;
}


.EDIT-MACROS-DIV-NUT-LABEL{
position: relative;
width: 100%;
height: auto;
margin-top: 10px;
margin-bottom: 10px;
}

.EDIT-MACROS-DIV-NUT-LABEL ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.EDIT-MACROS-DIV-NUT-LABEL ul li{
position: relative;
float: left;
text-decoration: none;
list-style: none;
width: 33%;
text-align: center;
font-size: 17px;
color: #712bbc;
}


.EDIT-MACROS-DIV-NUT-INPUT-DIV{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.EDIT-MACROS-DIV-NUT-INPUT-DIV ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.EDIT-MACROS-DIV-NUT-INPUT-DIV ul li{
position: relative;
float: left;
text-decoration: none;
list-style: none;
width: 33%;
text-align: right;
font-size: 20px;
color: #712bbc;
}

.EDIT-MACROS-DIV-NUT-INPUT{
    position: relative;
    width: 60%;
    left: 20%;
    float: left;
    border: 0px;
    background-color: rgb(25, 25, 25);
    color: rgb(210,210,210);

}


.EDIT-MACROS-DIV-NUT-INPUT:focus{
    background-color: rgb(25, 25, 25);
    color: rgb(210,210,210);
}

.EDIT-MACROS-DIV-BTNS{
    position: relative;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.FOOD-LIST-MAIN-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    background-color: rgb(35, 35, 35);
    height: auto;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 30px; 
}


.FOOD-DIV-HEAD{
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: rgb(210,210,210);
    background-color: #702bbc;
    text-align: center;
    padding-top: 10px;
}

.FOOD-DIV-LIST{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px;
}

.ADDED-FOOD{
    position: relative;
    width: 100%;
    height: 90px;
}


.FOOD-1{
    background-color: rgb(25, 25, 25);
    transition: 0.3s;
}
.FOOD-1:hover{
    background-color: rgb(15, 15, 15);
}
.FOOD-2{
    color: #000000;
    background-color: rgb(35, 35, 35);
    transition: 0.3s;
}

.FOOD-2:hover{
    background-color: rgb(15, 15, 15);
}

.FOOD-LEFT{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #ffffff00;
    margin: 0px;
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    color: rgb(210,210,210);
}

.FOOD-NAME-DIV{
    position: relative;
    width: 100%;
    height: 65%;
    padding-top: 10px;
    background-color: #ffffff00;
    color: rgb(210,210,210);
}

.FOOD-SERVING-DIV{
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #ffffff00;
    float: left;
    font-size: 15px;
    margin: 0px;
    color: rgb(210,210,210);
}

.FOOD-RIGHT{
    position: relative;
    width: 20%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #ffffff00;
    margin: 0px;
    float: left;
    color: rgb(210,210,210);
}

 .ADD-FOOD-BTN{
     position: relative;
     width: 95%;
     left: 2.5% ; 
     right: 2.5%;
     height: 60px;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .ADD-FOOD-BTN:hover{
   background-color: rgb(0, 109, 18);
}
 .SEARCH-FOOD-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    height: auto;
    border-radius: 0px;
    background-color: #00000000;
    transition: 0.2s;
    margin-bottom: 10px;
    margin-top: 10px; 
 }


.SEARCH-BACKBTN-DIV{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

 .SEARCH-BAR-DIV{
  position: relative;
  height: auto;
  width: 100%;  
  margin-top: 10px;
  margin-bottom: 40px;
}

.SEARCH-BAR{
    position: relative;
    width: 100%;
    border: 0px;
    border-radius: 6px; 
    background-color: rgb(25, 25, 25);
    height: 50px;; 
    background-image:url("../../../Img/dark/search-icon.png"); 
    background-repeat: no-repeat; 
    background-position: 95% 12px;
    background-size: 20px;
    color: rgb(210,210,210);
}

.SEARCH-BAR:focus{
    border: 0px;
    background-color: rgb(35, 35, 35);
    background-image: none;
}

.SEARCH-RESLUT-DIV{
    position: relative;
    height: auto;
    width: 100%;
}


.SEARCH-RESULT-FOOD{
    position: relative;
    width: 100%;
    height: 90px;
}




  .FOOD-INFO-DIV{
      position: relative;
      width: 40%;
      left: 30%;
      right: 30%;
      border-radius: 6px;
      transition: 0.5s;
      margin-top: 20px;
      background-color: rgb(35, 35, 35);
  }
  
  .FOOD-INFO-HEADER{
      position: relative;
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      background-color: rgb(25,25,25);
      border-top-right-radius: 6px;
      border-top-left-radius: 6px; 
  }
  
  
  .FOOD-INFO-HEADER-LEFT{
      position: relative;
      width: 70%;
      float: left;
      color: rgb(210, 210, 210);
      padding-top: 7px;
      padding-left: 10px;
  }
  
  .FOOD-INFO-HEADER-LEFT-TOP{
    position: relative;
    width: 100%;
    height: 60px;
    float: left;
    color: #702bbc;
    padding-top: 20px;
    font-size: 20px;
    border-top-left-radius: 6px;

}

.FOOD-INFO-HEADER-LEFT-BOT{
    position: relative;
    width: 100%;
    height: 40px;
    float: left;
    font-size: 10px;
}

  .FOOD-INFO-HEADER-RIGHT{
      position: relative;
      width: 30%;
      float: left;
      color: white;
      text-align: center;
      padding-top: 40px;
      font-size: 20px;
  }
  

  
  .FOOD-INFO-BODY{
      position: relative;
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  
  .FOOD-INFO-LABEL{
  position: relative;
  width: 100%;
  height: 50px;
  }
  
  .FOOD-INFO-LABEL ul {
      padding: 0px;
      padding-top:10px; 
      margin: 0px;
      list-style: none;
      border-radius: 6px;
  }
  
  .FOOD-INFO-LABEL ul li{
    position: relative;
    width: 30.3333333%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    text-align: center;
    font-size: 8px; 
    border-radius: 6px;
  }
  
  
  .FOOD-INFO-PROG-DIV{
      position: relative;
      width: 97%;
      left: 1.5%;
      right: 1.5%;
      margin-top: 15px;
  }
  


.FOOD-INFO-DIV-NUT{
    position: relative;
    width: 100%;
    height: 25px;;
    margin-bottom: 20px;
}

.FOOD-INFO-DIV-NUT ul{
    padding: 0px;
    margin: 0px;
    color: white;
    list-style: none;
    text-align: center;
    height: 25px;
}

.FOOD-INFO-DIV-NUT ul li{
position: relative;
float: left;
width: 33.3333333%;
height: 25px;
margin-bottom: 20px;
}


.FOOD-INFO-DIV-NUT ul li.pro {
color: rgb(224, 39, 55);
}

.FOOD-INFO-DIV-NUT ul li.carbs {
    color: rgb(29, 139, 25);
}

.FOOD-INFO-DIV-NUT ul li.fat {

    color: rgb(175, 128, 0);
}
        
.FOOD-INFO-DIV-INPUT{
position: relative;
margin-top: 10px;
margin-bottom: 10px;
height: 140px;
}

.FOOD-INFO-DIV-INPUT ul{
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 140px; 
    list-style: none;
}

.FOOD-INFO-DIV-INPUT ul li{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}


.FOOD-INFO-DIV-INPUT-LABEL{
    position: relative;
    width: 30%;
    padding-top: 15px;
    font-size: 15px;
    float: left;
    text-align:center;
    color: white;
}

.FOOD-INFO-DIV-INPUT-INPUT{
    position: relative;
    width: 70%;
    float: left;
}

.FOOD-INFO-BTNS-DIV{
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/*Ultra wide*/
@media (min-width:1950px){

    .FOOD-MACROS-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }

    .EDIT-MACROS-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }
    
    .FOOD-LIST-MAIN-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }

    .SEARCH-FOOD-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }
    
    .FOOD-INFO-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }
    
}

/* Ipad */
@media (max-width:1024px) and (min-width:720px){

    .FOOD-MACROS-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .EDIT-MACROS-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }
    
    .FOOD-LIST-MAIN-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .SEARCH-FOOD-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }
    
    .FOOD-INFO-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }


    

}

/* Iphone */
@media (max-width:720px) and (min-width:320px){

    
    .FOOD-MACROS-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .EDIT-MACROS-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }
    
    .FOOD-LIST-MAIN-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .SEARCH-FOOD-DIV{
        width: 96%;
        left: 2.5%;
        right: 2.5%;
    }
    
    .FOOD-INFO-DIV{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        left:0px;
        right: 0px;
    }



}