.WORKOUT{
    position: relative;
    top: 56px;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px; 
}

/* MAIN DAYS SPLIT DIV */
.WORKOUT-DAYS-LIST-DIV{ 
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: auto;
    transition: 0.3s;
}


.WORKOUT-DAYS-BTNS-DIV{
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 5px;
}
.WORKOUT-DAYS-LIST-DIV ul {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 700px;
    list-style: none;
}

.WORKOUT-DAYS-LIST-DIV ul li{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 100px;
    transition: 0.3s; 
}

.DAY-ODD{
    background-color: rgb(25, 25, 25);
}
.DAY-EVEN{
    background-color: rgb( 35, 35, 35);
}

.WORKOUT-DAY-DIV{
position: relative;
width: 40%;
color: #702bbc;
float: left;
text-align: center;
font-size: 25px;
padding-top: 25px;
height: 100%;
}

.WORKOUT-NAME-DIV{
    position: relative;
    width: 60%;
    color: white;
    float: right;
    font-size: 15px;
    padding-top: 35px;
    text-align: center;
    height: 100%;
}



/* EDIT SPLIT DIV */
.WORKOUT-EDIT-SPLIT-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: auto;
    transition: 0.3s;
}

.WORKOUT-EDIT-SPLIT-DIV ul {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px; 
    list-style: none;
}

.WORKOUT-EDIT-SPLIT-DIV ul li{
    position: relative;
    width: 100%;
    height: 100px; 
}

.EDIT-SPLIT-LABEL{
    height: 60px !important; 
}
.WORKOUT-EDIT-SPLIT-DAY-NAME-LABEL{
    position: relative;
    width: 40%;
    float: left;
    height: 100%;
    text-align: center;
    color: #702bbc;
    padding-top: 35px;
    font-size: 20px;
}

.WORKOUT-EDIT-SPLIT-WORKOUT-NAME-LABEL{
    position: relative;
    width: 60%;
    float: right;
    height: 100%;
    text-align: center;
    color: #702bbc;
    font-size: 20px;
    padding-top: 35px;

}


.INPUT-DAY-NAME{
    position: relative;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px; 
    border: 0px;
    border-radius: 6px;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #702bbc;
    background-color: rgb(15, 15, 15);
    float: left;
    transition: 0.3s;
}

.INPUT-WORKOUT-NAME{
    position: relative;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px; 
    border: 0px;
    border-radius: 6px;
    width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: white;
    background-color: rgb(15, 15, 15);
    float: right;
    transition: 0.3s;
}


.INPUT-DAY-NAME:focus{
    background-color: rgb(20, 20, 20);
}
.INPUT-WORKOUT-NAME:focus{
    background-color: rgb(20, 20, 20);
}


.BTNS-LI{
    height: 50px !important;
}


.WORKOUTS-LIST-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    height: 100%;
    transition: 0.3s;
    margin-top: 20px;
}

.WORKOUT-DIV {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: rgba(20, 20, 20);
}


.WORKOUT-DIV table th{
    background-color: rgb(25, 25, 25);
}

.WORKOUT-DIV table tr{
    background-color: rgb(35, 35, 35);
}

.WORKOUT-TABLE{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px;
    text-align: center;
}

.WORKOUT-NAME{
    height: 50px;
    width: 40%;
    color: #702bbc;
    text-align: center;
    font-size: 15px;
}

.WORKOUT-LABEL{
    height: 50px;
    width: 27%;
    color: white;
    text-align: center;
}

.WORKOUT-X-LABEL{
    position: relative;
    width: 6%;
    font-size: 10px;
}
.WORKOUT-SET-LABEL{
    height: 50px;
    width: 40%;
    color: white;
    text-align: center;
}

.WORKOUT-SET-INPUT{
    position: relative;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    background-color: rgb(25, 25, 25);
    border: 0px;
    transition: 0.3s;
    color: #702bbc
}

.WORKOUT-SET-INPUT:focus{
    background-color: rgb(20, 20, 20);
}


.WORKOUT-BTNS-DIV{
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.WORKOUT-ADD-NEW-EXC-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    transition: 0.3s;
    background-color: rgb(25, 25, 25);
    color: #702bbc;
    border-radius:6px; 
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

.WORKOUT-ADD-NEW-EXC-DIV h4{
  position: relative;
   width: 100%;
   height: 70px;
   color: #702bbc;
   text-align: center;
   padding-top: 20px;
   margin-bottom: 10px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.WORKOUT-ADD-NEW-EXC-DIV ul{
     position: relative;
     width: 100%;
     margin: 0px;
     padding: 0px;
     list-style: none;
     height: 540px;
     margin-top: 20px;
  }
  .WORKOUT-ADD-NEW-EXC-DIV ul li{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 120px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
 }

 .WORKOUT-ADD-NEW-EXC-DIV ul li h6{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    padding-left: 5%;
    float: left;
 }

 .WORKOUT-ADD-NEW-EXC-DIV ul li input{
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    margin: 0px;
    padding: 0px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    float: left;
    background-color: rgb(20, 20, 20);
    border:0px;
    padding-left: 10px;
    transition: 0.3s;
 }


 .WORKOUT-ADD-NEW-EXC-DIV ul li input:focus{
    background-color: rgb(30, 30, 30);
}

.WORKOUT-ADD-NEW-EXC-DIV ul li input:hover{
    background-color: rgb(30, 30, 30);
}


.WORKOUT-ADD-NEW-EXC-DIV ul li select{
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    margin: 0px;
    padding: 0px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    float: left;
    background-color: rgb(20, 20, 20);
    border:0px;
    padding-left: 10px;
 }


 .WORKOUT-ADD-NEW-EXC-DIV ul li select:focus{
    background-color: rgb(30, 30, 30);
}

.WORKOUT-ADD-NEW-EXC-DIV ul li select:hover{
    background-color: rgb(30, 30, 30);
}







/*Ultra wide*/
@media (min-width:1950px){

    .WORKOUT-DAYS-LIST-DIV{ 
        width: 30%;
        left: 35%;
        right: 35%;
    }

    .WORKOUT-EDIT-SPLIT-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }

    .WORKOUTS-LIST-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }


.WORKOUT-ADD-NEW-EXC-DIV{
    width: 30%;
    left: 35%;
    right: 35%;   
}


}

/* Ipad */
@media (max-width:1024px) and (min-width:720px){

    .WORKOUT-DAYS-LIST-DIV{ 
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .WORKOUT-EDIT-SPLIT-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .WORKOUTS-LIST-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }


.WORKOUT-ADD-NEW-EXC-DIV{
    width: 80%;
    left: 10%;
    right: 10%;  
}
}

/* Iphone */
@media (max-width:720px) and (min-width:320px){

    .WORKOUT-DAYS-LIST-DIV{ 
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .WORKOUT-EDIT-SPLIT-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .WORKOUTS-LIST-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    .WORKOUT-ADD-NEW-EXC-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }
}