.SETTINGS{
    position: relative;
    top: 56px;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px; 
}

.SETTINGS-MAIN-DIV{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(35, 35, 35);
    border-radius: 6px;
}

.SETTINGS-MAIN-DIV ul{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
    list-style: none;
}

.SETTINGS-MAIN-DIV ul li{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 70px;
    color: rgb(210, 210, 210);
    padding-top: 20px;
    padding-left: 5%;
    transition: 0.3s;
}


.SETTINGS-ODD {
    background-color: rgb(25, 25, 25);
 }

.SETTINGS-EVEN {
   background-color: rgb(35, 35, 35);
}
/*Ultra wide*/
@media (min-width:1950px){

    .SETTINGS-MAIN-DIV{
        width: 30%;
        left: 35%;
        right: 35%;
    }

}

/* Ipad */
@media (max-width:1024px) and (min-width:720px){

    .SETTINGS-MAIN-DIV{
        width: 80%;
        left: 10%;
        right: 10%;
    }

}

/* Iphone */
@media (max-width:720px) and (min-width:320px){


    .SETTINGS-MAIN-DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

}