
/* Desktop  And Global*/

body,html{
    background-color:rgb(35, 35, 35);  
    font-family: 'Ubuntu', sans-serif;
    height: auto;
    min-height: 100%;
    width: 100%;
}


  
.HIDE{
    transform: translateX(-200%);
    transition: 0.3s;
}



.NAV{
    background-color: rgb(50, 50, 50) !important;
    color: black;
    z-index: 2 !important;
}

.BRAND{
    color: #712bbc !important;
}

.menuIcon{
    position: relative;
    width: 40px;
    padding: 5px;
}

.menuIcon:hover{
    cursor: pointer;
}

.SHADOW{
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.200),
    5px 5px 30px 5px rgba(0, 0, 0,0.200);
}

.side-nav{
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 4;
    transform: translateX(-320px);
    background-color: rgb(50, 50, 50) !important;
    transition: 0.3s;
}

.side-nav-active{
    height: 100%;
    transform: translateX(0px);
    z-index: 4;
    transition: 0.3s;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s;
}

.overlay-active{
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    transition: 0.1s;
    display: inline-block;
} 



.side-nav ul{
position: relative;
padding: 5px;
margin: 0;
width: 100%;
height: 50%;
}

.side-nav ul li{
    position: relative;
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    list-style: none;
    border-radius: 5px;
    transition: 0.2s;
    color: #919191;
}


.side-nav ul li:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.342)
}

.active{
    background-color: rgba(76, 0, 148, 0.377);
}

.active:hover{
    background-color: rgba(76, 0, 148, 0.377) !important;
}

.icon{
    position: relative;
    width: 10%;
    height: auto;
    float: right;
}


.side-nav div{
    position: relative;
    top: 40%;
}


.BTN{
    position: relative;
    height: 50px;
    text-align: center;
    width: 80%;
    left: 10%;
    right: 10%;
    bottom: 30px;
    border-radius: 5px;
    padding:10px;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.350),
    5px 5px 30px 5px rgba(0, 0, 0, 0.350); 
}

   /******************************************************* Calculater styles **********************************************************/



.CALC-DIV{
    position: relative;
    background-color:rgb(55,55, 55); 
    width: 50%;
    left: 25%;
    right: 25%;
    height: auto;
    min-height: 535.6px;
    top: 80px;;
    margin-bottom: 30px;
    border-radius: 6px;
}

.CALC-RESULT-DIV{
    position: relative;
    width: 100%;
    height: 200px;;
    background-color:rgb(40, 40, 40);  
    color: #702bbc;
    font-size: 40px;
    padding-top: 10%;
    text-align: center;
    border-top-left-radius:6px; 
    border-top-right-radius:6px; 
    margin-right:0px; 
}

.CALC-RESULT-DIV-GLOW{
    border-radius: 2px solid #702bbc;   
    box-shadow: 0 0 30px #702bbc;
}

.CALC-OP{
 position: relative;
 width: 45%;
 font-size: 15px;
 margin: 2.5%;
 float: left;
 text-align: center;
 cursor: pointer;
}

.CALC-OP1{
    border: 0px;
    border-bottom: 3px solid #712bbc00;
    height: 50px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    color: #919191;
}

.CALC-OP1-Active{
    border-bottom: 3px solid #712bbc;
    transition: 0.3s;
}

.CALC-OP2{
    border: 0px;
    border-bottom: 3px solid #712bbc00;
    height: 50px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    color: #919191;
}

.CALC-OP2-Active{
    border-bottom: 3px solid #712bbc;
    transition: 0.3s;
}

.CALC-INPUT{
    position: relative;
    border-width: 0px;
    width: 95%;
    background-color: rgb(70, 70, 70);
    height: 40px;
    margin: 2.5%;

}

.CALC-INPUT:focus{
    background-color: rgb(70, 70, 70);
}


.CALC-BTN{
    position: relative;
    border-width: 0px;
    width: 95%;
    background-color: #702bbc;
    height: 60px;
    margin: 2.5%;
    margin-bottom: 10px;
    color: white;
}

.CALC-BTN:hover{
    background-color: #4d1f7e;
    color: white;
}

.CALC-ACT{
    position: relative;
    border-width: 0px;
    width: 95%;
    height: auto;
    margin: 2.5%;
    color: #919191;
}

/******************************************************* end Calculater styles **********************************************************/













/******************************************************* Food styles **********************************************************/

.MACROS-DIV{
    position: relative;
    /* width: 95%;
    left: 2.5%;
    right: 2.5%; */
    width: 50%;
    left: 25%;
    right: 25%;
    top: 90px;
    height: auto;
    border-radius: 6px;
    transition: 0.3s;
    background-color: rgb(40, 40,40);

}

.MACROS-DIV-CAL{
    position: relative;
    color: #702bbc;
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 90px;;
    padding-top: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.MACROS-DIV-CAL-CAL{
    position: relative;
    width: 100%;
    height: 50px;;
    font-size: 22px;
    background-color: rgba(55, 55, 55, 0);
}

.MACROS-DIV-CAL-LABEL{
    position: relative;
    width: 100%;
    height: 10px;;
    font-size: 8px;
    color: black  !important;
    margin-bottom: 10px;    
}

.MACROS-DIV-CAL-GOAL{
    position: relative;
    width: 30%;
    float: left;
    padding-left: 5px;
    text-align: center;
    color: #702bbc;
}
.MACROS-DIV-CAL-GOAL-LABEL{
    position: relative;
    width: 30%;
    float: left;
    padding-left: 5px;
    text-align: center;
    color: #919191;
}

.MACROS-DIV-CAL-MIN{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: black;
}

.MACROS-DIV-CAL-MIN-LABEL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(55, 55, 55);;
}


.MACROS-DIV-CAL-TOTAL{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    color: #702bbc;
}

.MACROS-DIV-CAL-TOTAL-LABEL{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    color: #919191;
}

.MACROS-DIV-CAL-EQUAL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: rgb(55, 55, 55);;
}

.MACROS-DIV-CAL-EQUAL-LABEL{
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    color: black;
}

.MACROS-DIV-CAL-RES{
    position: relative;
    width: 30%;
    float: left;
    padding-right: 5px;
    text-align: center;
    color: #702bbc;
}

.MACROS-DIV-CAL-RES-LABEL{
    position: relative;
    width: 30%;
    float: left;
    padding-right: 5px;
    text-align: center;
    color: #919191;
}


.MACROS-DIV-LABEL{
    position: relative;
    width: 100%;
    margin-bottom: 10px
}

.MACROS-TYPE{
    position: relative;
    width: 20%;
    padding-left: 2%;
    font-size: 10px;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #919191;
}


.MACROS-TOTAL-GRAMS{
    position: relative;
    width: 60%;
    padding-left:5%; 
    float: left;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #919191;

}


.MACROS-GOAL-GRAMS{
    position: relative;
    width: 18%;
    right: 2%;
    float: left;
    text-align: right;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #919191;
}



.MACROS-DIV-PROGRESS{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}


.MACROS-DIV-PROGRESS-ROW-TYPE{
    position: relative;
    float: left;
    width: 26%;
    left: 2%; 
    color: #702bbc;
}


.MACROS-DIV-PROGRESS-ROW-TOTAL{
    position: relative;
    float: left;
    width: 6%;
    margin-top: 6px;
    font-size: 8px; 
    color: #919191;

}

.MACROS-DIV-PROGRESS-ROW-PROGRESS{
    position: relative;
    float: left;
    width: 56%;
    margin-top: 6px;
}

.MACROS-DIV-PROGRESS-ROW-GOAL{
    position: relative;
    float: left;
    width: 8%;
    margin-top: 6px;
    text-align: right;
    padding-left: 2px;
    font-size: 8px; 
    color: #919191;
}

.PROGRESS-BACK{
    background-color: rgb(60, 60, 60); 
}
.PRO{
   background-color: #d5eb0d;
}

.CARB{
    background-color: #05cad8;
}

.FAT{
    background-color: #f30166;
}

.EDIT-CAL-BTN{
    position: relative;
    background-color: #702bbc;
    width: 20%;
    left: 78%;
    right: 2%;
    height: 35px;;
    font-size: 12px;
    padding: 0;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.150),
    5px 5px 30px 5px rgba(0, 0, 0, 0.150); 
   border-radius: 4px;
   float: left;
   }
   
   .EDIT-ICON{
       position: relative;
       width: 20px;
       height: auto;
       text-align: center;
       color: white;
   }

.ADD-FOOD-CAL-BTN:hover{
    background-color: #1c7c21;
    color: white;
}

.EDIT-CAL-BTN:hover{
  background-color: #4d217c;
  color: white;
}

.EDIT-MACROS-DIV{
    position: absolute;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    top: 90px;
    height: auto;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 50px;
    background-color: rgb(55, 55, 55);
}

.EDIT-MACROS-DIV-GOAL-CAL{
position: relative;
width: 100%;
height: 90px;
background-color: rgb(40, 40, 40);
border-top-left-radius: 6px; 
border-top-right-radius: 6px; 
}


.EDIT-CAL-INPUT{
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: rgb(40, 40, 40);
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
    text-align:center;
    transition: 0.3s;
    color: #712bbc;
    font-size: 30px;
}

.EDIT-CAL-INPUT:focus{
    background-color: rgb(70, 70, 70);
    border: 0px;
    color: #712bbc;
}


.EDIT-MACROS-DIV-NUT-LABEL{
position: relative;
width: 100%;
height: auto;
margin-top: 10px;
margin-bottom: 10px;
}

.EDIT-MACROS-DIV-NUT-LABEL ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.EDIT-MACROS-DIV-NUT-LABEL ul li{
position: relative;
float: left;
text-decoration: none;
list-style: none;
width: 33%;
text-align: center;
font-size: 17px;
color: #712bbc;
}


.EDIT-MACROS-DIV-NUT-INPUT-DIV{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.EDIT-MACROS-DIV-NUT-INPUT-DIV ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.EDIT-MACROS-DIV-NUT-INPUT-DIV ul li{
position: relative;
float: left;
text-decoration: none;
list-style: none;
width: 33%;
text-align: right;
font-size: 20px;
color: #712bbc;
}

.EDIT-MACROS-DIV-NUT-INPUT{
    position: relative;
    width: 60%;
    left: 20%;
    float: left;
    border:0px;
    background-color: rgb(70, 70, 70);
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.096),
    5px 5px 30px 5px rgba(0, 0, 0, 0.096); 
    color:whitesmoke;
}


.EDIT-MACROS-DIV-NUT-INPUT:focus{
    background-color: rgb(75, 75,75);
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.096),
    5px 5px 30px 5px rgba(0, 0, 0, 0.096); 
    color:whitesmoke;
}

.EDIT-MACROS-DIV-BTNS{
    position: relative;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.FOOD-MAIN-DIV{
    position: relative;
    top: 130px;
    /* width: 95%;
    left: 2.5%;
    right: 2.5%; */
    width: 50%;
    left: 25%;
    right: 25%;
    background-color: rgba(55, 55, 55);
    height: auto;
    transition: 0.3s;

}


.FOOD-DIV-HEAD{
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: #702bbc;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.FOOD-DIV-LIST{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px;
}

.FOOD{
    position: relative;
    width: 100%;
    height: 90px;
}


.FOOD-1{
    color: #919191;
    background-color: rgb(55, 55, 55)
}

.FOOD-2{
    color: #919191;
    background-color: rgb(40, 40, 40);
}

.FOOD-LEFT{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #ffffff00;
    margin: 0px;
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.FOOD-NAME-DIV{
    position: relative;
    width: 100%;
    height: 65%;
    padding-top: 10px;
    background-color: #ffffff00;
}

.FOOD-SERVING-DIV{
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #ffffff00;
    float: left;
    font-size: 15px;
    margin: 0px;
}

.FOOD-RIGHT{
    position: relative;
    width: 20%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #ffffff00;
    margin: 0px;
    float: left;
}

.ADD-FOOD-BTN-DIV{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 .ADD-FOOD-BTN{
     position: relative;
     width: 95%;
     left: 2.5%;
     right: 2.5%;
     border-radius:0px; 
     height: 60px;
     margin-top: 10px;
     margin-bottom: 10px;

 }
 
 .ADD-FOOD-BTN:hover{
  background-color: #08660d;
}

 .SEARCH-FOOD-DIV{
    position: absolute;
    width: 50%;
    left: 25%;
    right: 25%;
    /* width:100% */
    top: 80px;
    height: auto;
    border-radius: 0px;
    background-color: #00000000;
    transition: 0.2s;
 }


.SEARCH-BACKBTN-DIV{
    position: relative;
    width: 95%;
    left: 2.5%;
    right:2.5%;
    margin-bottom: 10px;
}
 .SEARCH-BAR-DIV{
  position: relative;
  height: auto;
  width: 100%;  
  margin-top: 10px;
  margin-bottom: 40px;
}

.SEARCH-BAR{
    position: relative;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    border-radius: 6px; 
    border: 0px;
    background-color: rgb(60,60,60);
    height: 50px;; 
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
background-image:url("../../Img/dark/search-icon.png"); 
background-repeat: no-repeat; 
background-position: 90% 12px;
background-size: 20px;
}

.SEARCH-BAR:focus{
    border: 0px;
    box-shadow: 0px;
    background-color: rgb(70,70,70);
    background-image: none;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}

.SEARCH-RESLUT-DIV{
    position: relative;
    height: auto;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}

.SCAN-BAR-CODE-ICON{
    position: relative;
    width: 25px;
}
.CAM-DIV{
  position: relative ; 
  width: 100%;
  height: auto;
  top: 56px;  
}



.CAM{
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    margin-top: 70px;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}

.CAM-BTN-DIV{
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 20%;
    top: 80%;
}

.CAM-BTN{
    position: relative;
    width: 25%;
    left: 37.5%;
    right: 37.5%;
    height: 35%;
    top: 32.5%;
    bottom: 32.5%;
}

/******************************************************* end Food styles **********************************************************/

/*Ultra wide*/

@media (min-width:1950px){

    .CALC-DIV{ 
        width: 30%;
        left: 35%;
        right: 35%;
        top: 100px;;
    }
    
      
}
 



/* Ipad */
@media (max-width:1024px) and (min-width:720px){

    .CALC-DIV{ 
        width: 60%;
        left: 20%;
        right: 20%;
        top: 120px;;
    }
}


/* Iphone */
@media (max-width:720px) and (min-width:320px){

.side-nav{
    width: 230px;
    transform: translateX(-250px);
}
    
.side-nav-active{
    transform: translateX(0px);
}


.CALC-DIV{ 
    width: 90%;
    left: 5%;
    right: 5%;
    margin-bottom: 30px;
}

.CALC-RESULT-DIV{
    height: 150px;;
    padding-top: 15%;
    font-size: 30px;
}



.MACROS-DIV{
    width: 95%;
    left: 2.5%;
    right: 2.5%;
}



.FOOD-MAIN-DIV{
    width: 95%;
    left: 2.5%;
    right: 2.5%;
}


.SEARCH-FOOD-DIV{
     width:100% ;
     left: 0%;
     right: 0%;
}

.CAM{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    margin-top: 0px;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}

.CAM-BTN-DIV{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0%;
    right: 0%;
    height: 25%;
    top: 75%;
}

.CAM-BTN{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    height: 40%;
    top: 30%;
    bottom: 30%;
}

}
