
/* Desktop  And Global*/

body,html{
    background-color:rgb(245, 245, 245);  
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.NAV{
    background-color: rgb(250, 250, 250) !important;
    color: black;
    z-index: 2 !important;
}

.BRAND{
    color: #702bbc !important;
}

.menuIcon{
    position: relative;
    width: 40px;
    padding: 5px;
}

.menuIcon:hover{
    cursor: pointer;
}

.SHADOW{
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}


.side-nav{
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 4;
    transform: translateX(-320px);
    background-color: rgb(250, 250, 250) !important;
    transition: 0.3s;
}

.side-nav-active{
    transform: translateX(0px);
    z-index: 4;
    transition: 0.3s;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s;
}

.overlay-active{
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    transition: 0.1s;
    display: inline-block;
} 



.side-nav ul{
position: relative;
padding: 5px;
margin: 0;
width: 100%;
height: 50%;
}

.side-nav ul li{
    position: relative;
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    list-style: none;
    border-radius: 5px;
    transition: 0.2s;
    color: #702bbc;
}


.side-nav ul li:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.342)
}

.active{
    background-color: rgba(76, 0, 148, 0.377);
}

.active:hover{
    background-color: rgba(76, 0, 148, 0.377) !important;
}

.icon{
    position: relative;
    width: 10%;
    height: auto;
    float: right;
}


.side-nav div{
    position: relative;
    top: 40%;
}


.BTN{
    position: relative;
    height: 50px;
    text-align: center;
    width: 80%;
    left: 10%;
    right: 10%;
    bottom: 30px;
    border-radius: 5px;
    padding:10px;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.200),
    5px 5px 30px 5px rgba(0, 0, 0, 0.200); 
}

   /******************************************************* Calculater styles **********************************************************/



.CALC-DIV{
    position: relative;
    background-color:rgb(245, 245, 245); 
    width: 50%;
    left: 25%;
    right: 25%;
    height: auto;
    min-height: 535.6px;
    top: 80px;;
    margin-bottom: 30px;
    border-radius: 6px;
}

.CALC-RESULT-DIV{
    position: relative;
    width: 100%;
    height: 200px;;
    background-color:rgb(228, 228, 228);  
    color: #702bbc;
    font-size: 40px;
    padding-top: 10%;
    text-align: center;
    border-top-left-radius:6px; 
    border-top-right-radius:6px; 
    margin-right:0px; 
}

.CALC-OP{
 position: relative;
 width: 45%;
 font-size: 15px;
 margin: 2.5%;
 float: left;
 text-align: center;
 cursor: pointer;
}

.CALC-OP1{
    border: 0px;
    border-bottom: 3px solid #712bbc00;
    height: 50px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.CALC-OP1-Active{
    border-bottom: 3px solid #712bbc;
    transition: 0.3s;
}

.CALC-OP2{
    border: 0px;
    border-bottom: 3px solid #712bbc00;
    height: 50px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.CALC-OP2-Active{
    border-bottom: 3px solid #712bbc;
    transition: 0.3s;
}

.CALC-INPUT{
    position: relative;
    border-width: 0px;
    width: 95%;
    background-color: rgb(219, 219, 219);
    height: 40px;
    margin: 2.5%;
}

.CALC-INPUT:focus{
    background-color: rgb(219, 219, 219);
}

.CALC-BTN{
    position: relative;
    border-width: 0px;
    width: 95%;
    background-color: #702bbc;
    height: 60px;
    margin: 2.5%;
    margin-bottom: 30px;
    color: white;
}

.CALC-BTN:hover{
    background-color: #4d1f7e;
    color: white;
}

.CALC-ACT{
    position: relative;
    border-width: 0px;
    width: 95%;
    height: auto;
    margin: 2.5%;
}
/******************************************************* end Calculater styles **********************************************************/













/******************************************************* Food styles **********************************************************/
.MAC-CARD{
position: relative;
width: 95%;
left: 2.5%;
right: 2.5%;
height: 40%;
min-height: 160px;
top: 80px;
border-radius: 6px; 
float: left;
}

.CAL{
    position: relative;
    width: 100%;
    float: left;
    height: 40%;
    color: #702bbc;
    padding-top: 12.5%;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(240, 240, 240);
}


.BAR{
    position: relative;
    width: 100%;
    float: left;
    height: 20%;
    padding-top: 5%;
}

.LABEL{
    position: relative;
    width: 20%;
    font-size: 15px;
    color: #702bbc;
    float: left;
    padding-left: 3px;
}

.MACROS{
    position: relative;
    width: 80%;
    float: left;
    padding-top: 3px;
}


.CUR-GRAMS{
    position: relative;
    width: 7.5%;
    height: 12px;
    font-size: 10px;
    color: #702bbc;
    float: left;
}

.PROGRESS{
    position: relative;
    width: 80%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    height: 15px !important;
}

.PROGRESS-BAR{
    height: 15px !important;
}

.GOAL-GRAMS{
    position: relative;
    width: 7.5%;
    height: 12px;
    font-size: 8px;
    color: #702bbc;
    float: left;
}


.FOOD-LIST{
    position: relative;
    float: left;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    height: auto;
    min-height: 100px;
    top: 15%;
    border-radius: 6px; 
    margin-top: 5px;
    margin-bottom: 5px;
    color: #702bbc;
    border-radius: 6px;
}

.FOOD-1{
    position: relative;
    width: 100%;
    height: 100px !important;
    padding-top: 15px;
    background-color: rgb(240, 240, 240);
    font-size: 15px;
}

 .FIRST-FOOD{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
 }

 .LAST-FOOD{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
 }
.FOOD-2{
    position: relative;
    width: 100%;
    height: 100px !important;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;

}
/******************************************************* end Food styles **********************************************************/

/*Ultra wide*/

@media (min-width:1950px){

    .CALC-DIV{ 
        width: 30%;
        left: 35%;
        right: 35%;
        top: 100px;;
    }
    
      
}


/* Ipad */
@media (max-width:1024px) and (min-width:720px){

    .CALC-DIV{ 
        width: 60%;
        left: 20%;
        right: 20%;
        top: 120px;;
    }
}


/* Iphone */
@media (max-width:720px) and (min-width:320px){
    .side-nav{
        width: 220px;
        transform: translateX(-240px);
    }
    
    .side-nav-active{
        transform: translateX(0px);
    }
/******************************************************* Calculater styles **********************************************************/


.CALC-DIV{ 
    width: 90%;
    left: 5%;
    right: 5%;
    margin-bottom: 30px;
}

.CALC-RESULT-DIV{
    height: 100px;;
    font-size: 20px;
}



/******************************************************* end Calculater styles **********************************************************/

    
}
