<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/index/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          
          $("img").click(function(){
           
           $("#SIDE_NAV").toggleClass("side-nav-active");
           $("#overlay").toggleClass("overlay-active");
            });

          $("#overlay").click(function(){


            $("#SIDE_NAV").toggleClass("side-nav-active");
           $("#overlay").toggleClass("overlay-active");
          });

        });
        </script>


    <title>T H E E B</title>
  </head>
  <body  ontouchstart="" onmouseover="">
   


    

    <div id="SIDE_NAV" class="side-nav SHADOW">
        <ul>
            <li class="active">Home <img class="icon"src="../Img/home-icon.png" alt=""></li>
            <li>Food<img class="icon" src="../Img/food-icon.png" alt=""></li>
            <li>Workout<img class="icon" src="../Img/workout-icon.png" alt=""></li>
            <li>Weight</li>
            <li>Macros Calculater</li>
            <li>Settings</li>


        </ul>
        <div><a class="btn btn-danger BTN" href="Sign.html" role="button">Sign out</a></div>


    </div>

    <div id="overlay" class="overlay"></div>



 

 


<nav class="navbar navbar-dark bg-dark NAV SHADOW">
  <img id="MENU" class="menuIcon navbar-brand" src="../Img/pm.png" alt="">
    <a style="color:black;"class="navbar-brand BRAND" href="Sign.html">T H E E B</a>
</nav> 



  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>