<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../Styles/index/index.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:800" rel="stylesheet">
  <title>Theeb fit</title>
</head>

<body ontouchstart="" onmouseover="">








  <div id="SIDE_NAV" class="side-nav SHADOW">
    <ul>
      <li id="Home-btn" class="active">Home<img class="icon" src="../Img/home-icon.png" alt=""></li>
      <li id="Food-btn">Food<img class="icon" src="../Img/food-icon.png" alt=""></li>
      <li id="Workout-btn">Workout<img class="icon" src="../Img/workout-icon.svg" alt=""></li>
      <li id="Weight-btn">Weight<img class="icon" src="../Img/weight-icon.svg" alt=""></li>
      <li id="Calc-btn">Macros Calculater<img class="icon" src="../Img/calc-icon.png" alt=""></li>
      <li id="Settings-btn">Settings<img class="icon" src="../Img/settings-icon.png" alt=""></li>


    </ul>
    <div><a class="btn btn-danger BTN" href="Sign.html" role="button">Sign out</a></div>


  </div>

  <div id="overlay" class="overlay"></div>





  <nav class="navbar fixed-top navbar-dark bg-dark NAV SHADOW">
    <img id="MENU" class="menuIcon navbar-brand" src="../Img/pm.png" alt="">
    <a style="color:black;" class="navbar-brand BRAND" href="Sign.html">Theeb fit</a>
  </nav>



  <!-- ============================== Body start here ==============================   -->





  <!-- ============================== Home Section ==============================   -->

  <div id="Home" style="padding-left:250px;padding-top:200px;">


    Home


  </div>
  <!-- ============================== end Home Section ==============================   -->












  <!-- ============================== food Section ==============================   -->

  <div style="width: 100% ;height: 100%;" id="Food">

    <div id="FOOD-MACROS-DIV" class="card MACROS-DIV SHADOW">

      <div style="background-color: rgb(208, 208, 208)" class="MACROS-DIV-CAL">

        <div class="MACROS-DIV-CAL-CAL">

          <div class="MACROS-DIV-CAL-GOAL">3,700 </div>
          <div class="MACROS-DIV-CAL-MIN"> - </div>
          <div class="MACROS-DIV-CAL-TOTAL">1,200 </div>
          <div class="MACROS-DIV-CAL-EQUAL"> = </div>
          <div class="MACROS-DIV-CAL-RES">2,500 </div>

        </div>

        <div class="MACROS-DIV-CAL-LABEL">

          <div class="MACROS-DIV-CAL-GOAL" style="color:black;"> Goal </div>
          <div class="MACROS-DIV-CAL-MIN" style="color:rgb(208, 208, 208) !important"> - </div>
          <div class="MACROS-DIV-CAL-TOTAL" style="color:black;"> Food </div>
          <div class="MACROS-DIV-CAL-EQUAL" style="color:rgb(208, 208, 208) !important"> = </div>
          <div class="MACROS-DIV-CAL-RES" style="color:black;"> Left </div>

        </div>


      </div>
      <div class="MACROS-DIV-LABEL">

        <div class="MACROS-TYPE">Nutrient</div>
        <div class="MACROS-TOTAL-GRAMS">Total</div>
        <div class="MACROS-GOAL-GRAMS">Goal</div>

      </div>

      <div class="MACROS-DIV-PROGRESS">

        <div class="MACROS-DIV-PROGRESS-ROW">
          <div class="MACROS-DIV-PROGRESS-ROW-TYPE">
            Protein :
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-TOTAL">
            20g
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-PROGRESS">
            <div class="progress" style="height:12px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated PRO" role="progressbar"
                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-GOAL">
            200g
          </div>


        </div>


      </div>




      <div class="MACROS-DIV-PROGRESS">

        <div class="MACROS-DIV-PROGRESS-ROW">
          <div class="MACROS-DIV-PROGRESS-ROW-TYPE">
            Carbs :
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-TOTAL">
            20g
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-PROGRESS">
            <div class="progress" style="height:12px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated CARB" role="progressbar"
                style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-GOAL">
            200g
          </div>


        </div>


      </div>



      <div class="MACROS-DIV-PROGRESS">

        <div class="MACROS-DIV-PROGRESS-ROW">
          <div class="MACROS-DIV-PROGRESS-ROW-TYPE">
            Fat :
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-TOTAL">
            20g
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-PROGRESS">
            <div class="progress" style="height:12px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated FAT" role="progressbar"
                style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>


          <div class="MACROS-DIV-PROGRESS-ROW-GOAL">
            200g
          </div>


        </div>





      </div>


      <div>
          <button id="EDIT-CAL-BTN" type="button" class="EDIT-CAL-BTN btn"><img class="EDIT-ICON"
            src="../Img/settings-icon-white.png" alt=""></button>
      </div>

    </div>





    <div id="FOOD-LIST-DIV" class="card FOOD-MAIN-DIV SHADOW">

      <div class="FOOD-DIV-HEAD">

        My Meals

      </div>


      <div class="FOOD-DIV-LIST">

        <div class="FOOD  FOOD-1">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-2">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>


        <div class="FOOD  FOOD-1">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-2">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-1">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-2">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-1">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-2">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-1">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>

        <div class="FOOD  FOOD-2">
          <div class="FOOD-LEFT">
            <div class="FOOD-NAME-DIV">
              Al marai laban
            </div>

            <div class="FOOD-SERVING-DIV">

              150 g
            </div>
          </div>

          <div class="FOOD-RIGHT">
            388 cal
          </div>
        </div>



        <div class="ADD-FOOD-BTN-DIV">
            <button type="button" class="btn btn-success ADD-FOOD-BTN SHADOW"> Add food </button>
        
        </div>
        <!--  END food list-->
      </div>


    </div>






  </div>
  <!-- ============================== end food Section ==============================   -->











  <!-- ==============================  workout Section ==============================   -->

  <div style="padding-left:250px;padding-top:200px;" id="Workout">


    <h1> Workout </h1>

  </div>
  <!-- ============================== end workout Section ==============================   -->













  <!-- ==============================  weight Section ==============================   -->

  <div style="padding-left:200px;padding-top:200px;" id="Weight">

    weight

  </div>
  <!-- ============================== end weight Section ==============================   -->













  <!-- ==============================  calc Section ==============================   -->



  <div id="Calc" class="CALC-DIV SHADOW">

    <div id="res" class="CALC-RESULT-DIV">
      fill the form below
    </div>


    <div class="CALC-BODY-DIV">

      <div id="Gender-Female" class="CALC-OP1 CALC-OP CALC-OP1-Active">Female</div>
      <div id="Gender-Male" class="CALC-OP2 CALC-OP">Male</div>
      <input id="CALC-Age-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Enter Age">


      <div id="Kg" class="CALC-OP1 CALC-OP CALC-OP1-Active"> Kg </div>
      <div id="Lb" class="CALC-OP2 CALC-OP"> lb</div>

      <input id="CALC-Weight-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Enter Weight">

      <div id="Cm" class="CALC-OP1 CALC-OP CALC-OP1-Active"> Cm </div>
      <div id="Feet" class="CALC-OP2 CALC-OP"> Feet </div>

      <input id="CALC-Height-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Enter Height">

      <label class="CALC-ACT">Activity level</label>
      <select id="Act" class="custom-select CALC-INPUT" id="inputGroupSelect01" aria-placeholder="Activity level">
        <option selected value="1">little or no exercise, desk job</option>
        <option value="2">light exercise/sports 1-3 days/week</option>
        <option value="2.5">moderate exercise/sports 4-5 days/week</option>
        <option value="3">moderate exercise/sports 6-7 days/week</option>
        <option value="4">hard exercise every day, or exercising 2 xs/day</option>
        <option value="5">hard exercise 2 or more times per day, or training formarathon, or triathlon</option>

      </select>

      <input id="CALC-BTN" value="Caclulate" type="submit" class="btn form-control CALC-BTN" placeholder="Height">

    </div>




  </div>


  <!-- ============================== end calc Section ==============================   -->



















  <div style="width: 100% ;height: 100%; padding-left:250px;padding-top:200px;""  id="Settings">

    setting
  </div>
  <script src="../Js/Jquery.js"></script>
  <script src="../Js/Food.js"></script>
  <script src="../Js/Calc.js"></script>
  <script src="../Js/SideNav.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>
</html>