<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/index/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <title>T H E E B</title>
  </head>
  <body  ontouchstart="" onmouseover="">
   


  


   

    <div id="SIDE_NAV" class="side-nav SHADOW">
      <ul>
          <li id="Home-btn" class="active">Home<img class="icon"src="../Img/home-icon.png" alt=""></li>
          <li id="Food-btn">Food<img class="icon" src="../Img/food-icon.png" alt=""></li>
          <li id="Workout-btn">Workout<img class="icon" src="../Img/workout-icon.svg" alt=""></li>
          <li id="Weight-btn">Weight<img class="icon" src="../Img/weight-icon.svg" alt=""></li>
          <li id="Calc-btn">Macros Calculater<img class="icon" src="../Img/calc-icon.png" alt=""></li>
          <li id="Settings-btn">Settings<img class="icon" src="../Img/settings-icon.png" alt=""></li>


      </ul>
      <div><a class="btn btn-danger BTN" href="Sign.html" role="button">Sign out</a></div>


  </div>

  <div id="overlay" class="overlay"></div>

 



    <nav class="navbar fixed-top navbar-dark bg-dark NAV SHADOW">
      <img id="MENU" class="menuIcon navbar-brand" src="../Img/pm.png" alt="">
        <a style="color:black;"class="navbar-brand BRAND" href="Sign.html">T H E E BB</a>


     
  
    </nav> 



   <!-- ============================== Body start here ==============================   -->
    <div class="BODY">





         <!-- ============================== Home Section ==============================   -->

      <div style="width: 100% ;height: 100%;" id="Home" >

            
       Home


      </div>
         <!-- ============================== end Home Section ==============================   -->












      <!-- ============================== food Section ==============================   -->

      <div style="width: 100% ;height: 100%;"  style="width: 100% ;height: 100%;" id="Food"> 




            food
      </div>

      <!-- ============================== end food Section ==============================   -->











      <!-- ==============================  workout Section ==============================   -->

      <div style="width: 100% ;height: 100%;"  id="Workout"> 

        workout
     
      </div>
      <!-- ============================== end workout Section ==============================   -->













      <!-- ==============================  weight Section ==============================   -->

     <div style="width: 100% ;height: 100%;"  id="Weight"> 

      weight
    
     </div>
      <!-- ============================== end weight Section ==============================   -->












      
      <!-- ==============================  calc Section ==============================   -->

      <div style="width: 100% ;height: 100%;"  id="Calc"> 


        <div class="CALC-DIV SHADOW">

              <div id="res" class="CALC-RESULT-DIV">

                             2,589 
                 
              </div>


              <div class="CALC-BODY-DIV"> 

                <div id="Gender-Female" class="CALC-OP1 CALC-OP CALC-OP1-Active" >Female</div>
                <div id="Gender-Male"  class="CALC-OP2 CALC-OP">Male</div>
                <input id="CALC-Age-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Age">


                <div id="Kg" class="CALC-OP1 CALC-OP CALC-OP1-Active" > Kg </div>
                <div id="Lb"  class="CALC-OP2 CALC-OP"> lb</div>

                <input id="CALC-Weight-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Weight">

                <div id="Cm" class="CALC-OP1 CALC-OP CALC-OP1-Active" > Cm </div>
                <div id="Feet"  class="CALC-OP2 CALC-OP"> Feet </div>

                <input id="CALC-Height-Input" value="" type="number" class="form-control CALC-INPUT" placeholder="Height">

                <select class="custom-select CALC-INPUT" id="inputGroupSelect01" aria-placeholder="Activity level">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  
                <input id="CALC-BTN" value="Caclulate" type="submit" class="btn form-control CALC-BTN" placeholder="Height">
                
             </div>

      <!-- ============================== end calc Section ==============================   -->



















      <div style="width: 100% ;height: 100%;"  id="Settings"> 

        setting
      </div>

    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          

          function RemoveAllClasses(){
            $("#Home-btn").removeClass("active");
            $("#Food-btn").removeClass("active");
            $("#Workout-btn").removeClass("active");
            $("#Weight-btn").removeClass("active");
            $("#Calc-btn").removeClass("active");
            $("#Settings-btn").removeClass("active");
          }


          function HideAll(){
          $("#Home").hide();
          $("#Food").hide();
          $("#Workout").hide();
          $("#Weight").hide();
          $("#Calc").hide();
          $("#Settings").hide();
          }

       


          function toggleSideNav(){
            $("#SIDE_NAV").toggleClass("side-nav-active");
            $("#overlay").toggleClass("overlay-active");
          }

          $("img").click(function(){
            toggleSideNav();
            });
        
            $("#overlay").click(function(){
              toggleSideNav();
          });



          $("#Home-btn").click(function(){
            RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Home").show();
            $("#Home-btn").addClass("active");
          });


          $("#Food-btn").click(function(){
           RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Food").show();
            $("#Food-btn").addClass("active");
          });


          $("#Workout-btn").click(function(){
            RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Workout").show();
            $("#Workout-btn").addClass("active");
          });


          $("#Weight-btn").click(function(){
            RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Weight").show();
            $("#Weight-btn").addClass("active");
          });

          $("#Calc-btn").click(function(){
            RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Calc").show();
            $("#Calc-btn").addClass("active");
          });


          $("#Settings-btn").click(function(){
            RemoveAllClasses();
            HideAll();
            toggleSideNav();
            $("#Settings").show();
            $("#Settings-btn").addClass("active");
          });


// --------------------------------- Calc functions -------------------------------------------------------//
         var gender = "f";
         var WeightType = "Kg";
         var Weight = 0 ;
         var HeightType = "Cm";
         var Height = 0;

          $("#Gender-Male").click(function(){

            gender = "m" ;

            $("#Gender-Female").removeClass("CALC-OP1-Active");
            $("#Gender-Male").addClass("CALC-OP2-Active")
           
        });


        $("#Gender-Female").click(function(){

          gender = "f" ;

          $("#Gender-Male").removeClass("CALC-OP2-Active");
          $("#Gender-Female").addClass("CALC-OP1-Active")

       });  


       $("#Kg").click(function(){

        WeightType = "Kg" ;

        $("#Lb").removeClass("CALC-OP2-Active");
        $("#Kg").addClass("CALC-OP1-Active")

        });


        $("#Lb").click(function(){

        WeightType = "Lb" ;

        $("#Kg").removeClass("CALC-OP1-Active");
        $("#Lb").addClass("CALC-OP2-Active")

        });

        
        $("#CALC-Weight-Input").keyup(function(){
          
            Weight = $(this).val();

        });




        $("#Cm").click(function(){

        HeightType = "Cm" ;

        $("#Feet").removeClass("CALC-OP2-Active");
        $("#Cm").addClass("CALC-OP1-Active")

        });


        $("#Feet").click(function(){

        HeightType = "Feet" ;

        $("#Cm").removeClass("CALC-OP1-Active");
        $("#Feet").addClass("CALC-OP2-Active")

        });


        $("#CALC-Height-Input").keyup(function(){
          
            Height = $(this).val();

        });

// -------------------------- end calc functions --------------------------------------/
        });
        </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

