<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/Signup_dark.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">



    <title>T H E E B</title>
  </head>
  <body>
   
    <div>

<div class="BRAND">

T h e e b  
</div>
<form class="FORM SHADOW" action="Signup.html" method="GET">

<h1 class="TITLE">Sign  up</h1>

<input type="text" placeholder="Username"class="form-control INPUT_DIV " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">


<input type="email" placeholder="Email" class="form-control INPUT_DIV " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">

<input type="password" placeholder="Password" class="form-control INPUT_DIV " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">

<button type="submit"  class="btn btn-dark MY_BTN">Sign up</button>

<div class="SIGNUP_LINK_DIV">
     <a class="SIGNUP_LINK_DUMB" href="Signin.html"> Already Signed up ?<a> <a class="btn btn-dark SIGNUP_LINK" href="Signin.html">Sign in</a>
</div>


</form>
</div>


  


    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>