<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/Sign/Sign.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
                $(document).ready(function(){

                   $("#SIGNUP_DIV").hide();

                    $("#SIGNUP").click(function(){
                        $("#SIGNIN_DIV").hide();
                        $("#SIGNUP_DIV").show();
                    });

                    $("#SIGNIN").click(function(){
                        $("#SIGNUP_DIV").hide();
                        $("#SIGNIN_DIV").show();
                    });
                });
    </script>


    <title>T H E E B</title>
  </head>
  <body  ontouchstart="" onmouseover="">
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <h1 class="BRAND">T h e e b</h1>
      <div id="SIGNIN_DIV" class="SIGNIN_DIV SHADOW">

                      
          <form class="FORM"action="index.html" method="GET">
            <h1 class="TITLE">Sign in </h1>

           
                <input type="text" class="form-control IN_INPUT SHADOW" placeholder="email or username">
 

             
                <input type="password" class="form-control IN_INPUT SHADOW"placeholder="password">
   
        
              <button type="submit" class="btn IN_BTN SHADOW">Sign in</button>
          

              <h5 class="NOA">if you dont have an account   <div id="SIGNUP"class="SIGNUP_LINK btn SHADOW">Sing up</div></h5>
          </form>
            
      </div>



      

      <div id="SIGNUP_DIV" class="SIGNUP_DIV SHADOW">

        <form class="FORM" action="index.html" method="GET">
          <h1 class="TITLE">Sign up</h1>

         
              <input type="text" class="form-control UP_INPUT SHADOW" placeholder="username">

              <input type="email" class="form-control UP_INPUT SHADOW" placeholder="email">

           
              <input type="password" class="form-control UP_INPUT SHADOW"placeholder="password">
 
      
            <button type="submit" class="btn UP_BTN SHADOW">Sign up</button>
        

            <h5 class="NOA">if you have an account   <div id="SIGNIN"class="SIGNUP_LINK btn SHADOW">Sing in</div></h5>
        </form>


     </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>