/* Desktop and global */

    body,html{
        background-color:#999999;  
        background-image: url("../../Img/bg.jpg");
        background-size: cover;
        /* background-repeat: no-repeat; */
        font-family: 'Quicksand', sans-serif;
        width: 100%;
        height: 100%;
    }
    
    .SHADOW{
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);
    }
    
   .BRAND{
     position: relative;
     left: 25%;
     width: 50%;
     top: 50%;
     font-size: 70px;
     color: #9450dd;
    }


    .SIGNIN_DIV{
        position: absolute;
        width: 35%;
        height: 70%;
        top: 15%;
        bottom: 15%;
        left: 60%;
        right: 5%;
        min-height: 480px;
        background-color:  rgba(99, 99, 99, 0.527);
        border-radius: 5px;
        color: white;
    }


    .SIGNUP_DIV{
        position: absolute;
        width: 35%;
        height: 80%;
        top: 10%;
        bottom: 10%;
        left: 60%;
        right: 5%;
        background-color:  rgba(99, 99, 99, 0.527);
        border-radius: 5px;
        min-height: 585px;
    }

    .FORM{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: white;
    }

    .TITLE{
        position: relative;
        width: 100%;
        top: 0%;
        height: 15%;
        text-align: center;
        margin: 0;
        padding: 20px;
        margin-bottom: 5%;
    }

    .IN_INPUT{
        /* font-family: 'Raleway', sans-serif; */
        position: relative;
        border-width: 0px;
        background-color: rgb(219, 219, 219);
        height: 15%;
        margin-bottom: 5%;
        border-radius:10px; 
    }

    .IN_INPUT:focus{
        background-color: rgb(219, 219, 219);
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);
    }

    .IN_INPUT::placeholder{
        /* font-family: 'Raleway', sans-serif; */
        color: rgb(0, 0, 0);
    }


    .IN_BTN{
        position: relative;
        width: 100%;
        height: 15%;
        margin-bottom: 5%;
        border-radius:10px; 
        background-color: #702bbc;
        color: white;
    }

    .IN_BTN:hover{
        background-color: #5e249c;
        color: white;
    }


    .UP_INPUT{
        /* font-family: 'Raleway', sans-serif; */
        position: relative;
        border-width: 0px;
        background-color: rgb(219, 219, 219);
        height: 13%;
        margin-bottom: 5%;
        border-radius:10px; 
    }

    .UP_INPUT:focus{
        background-color: rgb(219, 219, 219);
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);
    }

    .UP_INPUT::placeholder{
        /* font-family: 'Raleway', sans-serif; */
        color: rgb(0, 0, 0);
    }


    .UP_BTN{
        position: relative;
        width: 100%;
        height: 13%;
        margin-bottom: 5%;
        border-radius:10px; 
        background-color: #702bbc;
        color: white;
    }

    .UP_BTN:hover{
        background-color: #4d1d80;
        color: white;
    }

    .NOA{
        position: relative;
        width: 100%;
        float: left;
    }

    .SIGNUP_LINK{
        background-color: #702bbc;
       color: rgb(255, 255, 255);
       text-decoration: none;
    }

    .SIGNUP_LINK:hover{      
        background-color: #4d1d80;
        color: white;    
    }

/*Ultra wide*/

@media (min-width:1950px){

    body,html{
        background-color:#999999;  
        background-image: url("../../Img/bg.jpg");
        background-size: cover;
        background-position: 0 -350px; 
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
        -webkit-tap-highlight-color:  rgba(45, 7, 70, 0.308); 
        width: 100%;
        height: 100%;
    }
    .SIGNIN_DIV{
        position: absolute;
        width: 25%;
        height: 70%;
        top: 15%;
        bottom: 15%;
        left: 65%;
        right: 10%;
        min-height: 480px;
        background-color:  rgba(99, 99, 99, 0.445);
        border-radius: 5px;
        color: white;
    }


    .SIGNUP_DIV{
        position: absolute;
        width: 25%;
        height: 80%;
        top: 10%;
        bottom: 10%;
        left: 65%;
        right: 10%;
        background-color:  rgba(99, 99, 99, 0.445);
        border-radius: 5px;
        min-height: 585px;
        color: white;
    }

   
    
}
/* Ipad */
@media (max-width:1024px) and (min-width:720px){

  

    .SIGNIN_DIV{
        position: absolute;
        width: 60%;
        height: 50%;
        top: 10%;
        bottom: 40%;
        left: 20%;
        right: 20%;
        min-height: 480px;
        background-color:  rgba(99, 99, 99, 0.445);
        border-radius: 5px;
        color: white;
    }


    .SIGNUP_DIV{
        position: absolute;
        width: 60%;
        height: 50%;
        top: 10%;
        bottom: 40%;
        left: 20%;
        right: 20%;
        background-color:  rgba(99, 99, 99, 0.445);
        border-radius: 5px;
        min-height: 585px;
        color: white;
    }
    
    .BRAND{
        position: relative;
        width: 50%;
        left: 25%;
        right: 25%;
        top: 80%;
        height: 10%;
        bottom: 10%;
        font-size: 50px;
        color:#702bbc;        
        ;
        text-align: center;
       }
}
/*  Phone  */
@media (max-width:720px) and (min-width:320px){


    body,html{
        background-color:rgb(245, 245, 245);  
        background-image: url("../../Img/bg-phone.jpg") ;

    }
    .SIGNIN_DIV{
       width: 95%;
       left: 2.5%;
       right: 2.5%;
       top: 2.5%;
       height: 70%;
       bottom: 27.5%;
       min-height: 0px;
       color: white;

    }


    .SIGNUP_DIV{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        top: 2.5%;
        height: 75%;
        bottom: 22.5%;
        min-height: 0px;
        color: white;
    }
    .TITLE{
       padding: 2px;
       font-size: 25px;
       height: 10%;
    }

    .IN_INPUT{
        position: relative;
        border-width: 0px;
        background-color: rgb(219, 219, 219);
        height: 20%;
        margin-bottom: 5%;
        border-radius:10px; 
    }
  
    .IN_BTN{
        position: relative;
        width: 100%;
        height: 18%;
        margin-bottom: 5%;
        border-radius:10px; 
        background-color: #702bbc;        
        color: white;
    }


    .UP_INPUT{
        position: relative;
        border-width: 0px;
        background-color: rgb(219, 219, 219);
        height: 16%;
        margin-bottom: 5%;
        border-radius:10px; 
    }
  
    .UP_BTN{
        position: relative;
        width: 100%;
        height: 16%;
        margin-bottom: 5%;
        border-radius:10px; 
        background-color: #702bbc;       
         color: white;
    }

    .NOA{
        position: relative;
        width: 100%;
        float: left;
        font-size: 15px;
    }


    .SIGNUP_LINK{
       font-size: 12px;
       background-color: #702bbc;       
       color: rgb(255, 255, 255);
       text-decoration: none;
    }

    .SIGNUP_LINK:hover{      
        background-color: #5e249c;
        color: white;    
    }

    .BRAND{
        position: relative;
        width: 90%;
        left: 5%;
        right: 5%;
        top: 80%;
        height: 10%;
        bottom: 10%;
        font-size: 40px;
        text-align: center;
        color: #702bbc;
       }
}