/* Desktop and global */

body,html{
    position: relative;
    background-color:rgb(20, 20, 20);  
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: auto;
}

    .BRAND-PIC{
        position: absolute;
        width: 40%;
        right: 55%;
        left: 5%;
        margin-top: 5%;

    }



    .SIGNIN-CARD{
        position: relative;
        left: 55%;
        width: 35%;
        right: 10%;
        margin-top: 10%;
        height: auto;
        background-color: rgb(35, 35, 35);
        color: white;
        border-radius: 10px;
    }
    

    .SIGIN-FORM{
        position: relative;
        width: 80%;
        left: 10%;
        right: 10%;
        height: auto;
    }

    .SIGIN-FORM h4{
        position: relative;
        width: 100%;
        height: 70px;
        padding-top: 20px;
        text-align: center;
        color: rgb(201, 210, 210);
        color: #702bbc;
    }

    .SIGIN-FORM input{
        position: relative;
        width: 100%;
        height: 50px;
        background-color: rgb(35, 35, 35);
        border: 0px;
        border-bottom: 2px solid rgb(20, 20, 20); 
        margin-top: 10px;
        margin-bottom: 20px;
        color: rgb(201, 210, 210);
        transition: 0.3s;
    }
    
    .SIGIN-FORM input:focus {
        background-color: rgb(35, 35, 35);
        outline: none !important;
        border-bottom: 2px solid rgb(100, 100, 100); 

    }
    
/*Ultra wide*/

@media (min-width:1950px){

   
    
}
/* Ipad */
@media (max-width:1024px) and (min-width:720px){

  

  
}
/*  Phone  */
@media (max-width:720px) and (min-width:320px){


}