/* Desktop and global */

    body,html{
        background-color:rgb(245, 245, 245);  
        background-image: url("../../Img/bg.jpg") ;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Montserrat', sans-serif;
        -webkit-tap-highlight-color:  rgba(45, 7, 70, 0.308); 
        width: 100%;
        height: 100%;
    }


    
    .SHADOW{
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);
    }
    
 
    .SIGNIN_DIV{
        position: absolute;
        width: 40%;
        height: 70%;
        top: 15%;
        bottom: 15%;
        left: 30%;
        right: 30%;
        background-color:  rgb(250, 250, 250);
        border-radius: 5px;
        opacity: 0.6;
    }


    .SIGNUP_DIV{
        position: absolute;
        width: 40%;
        height: 70%;
        top: 15%;
        bottom: 15%;
        left: 30%;
        right: 30%;
        background-color: rgb(167, 143, 41);
        border-radius: 5px;
        opacity: 0.6;

    }

    .FORM{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .TITLE{
        position: relative;
        width: 100%;
        text-align: center;
    }

/* Ipad */
@media (max-width:1024px) and (min-width:720px){


}


@media (max-width:720px) and (min-width:320px){


}