




/* MOBILE */



/* END MOBILE */







/* Desktop  And Global*/


    body,html{
        background-color:rgb(245, 245, 245);   
        font-family: 'Montserrat', sans-serif;
        -webkit-tap-highlight-color:  rgb(50, 19, 71); 
    }
  
  
   .SHADOW{
   
      box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
      5px 5px 30px 5px rgba(0, 0, 0,0.090);

    
   }

   .BRAND{
    color: black;
    font-size: 100px;
    position: absolute;
    top: 40%; 
    width: auto;
    left: 15%;
    font-family: 'Montserrat', sans-serif;
}

.FORM{
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30% ;
    max-width: 750px;
    min-height: 515px;
    height: 70% ;
    left: 60%;
    right: 35%;
    top: 15%;
    bottom: 15%;
    background-color:  rgb(250, 250, 250);
    border-radius: 10px;
}

.TITLE{
position: relative;
width: 100%;
height: 10%;
text-align: center;
margin-top: 10px;
margin-bottom: 50px;
color: black;
}

.MY_BTN{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color:  rgb(97, 37, 138); 
}

.MY_BTN:hover {
    background-color:  rgb(52, 20, 73); 
}


.INPUT_DIV{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    border-style: none;
} 

.INPUT_DIV:focus{
    border-color :none;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);
}


.SIGNIN_LINK_DIV{
position: relative;
padding: 5px;
width: 80%;
left: 10%;
right: 10%;
margin-top: 10px;
color: rgb(0, 0, 0);
font-family: 'Montserrat', sans-serif;

}

    
.SIGNIN_LINK{
    position: absolute;
    top: 0;
    width: 30%;
    left: 70%;
    color:  white;
    text-decoration: none;
    background-color: rgb(97, 37, 138); 

}


.SIGNIN_LINK:hover {
    background-color:  rgb(52, 20, 73); 

}


.SIGNIN_LINK_DUMB{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 100ms;
}

.SIGNIN_LINK_DUMB:hover{
    text-decoration: none;
    color: rgb(88, 88, 88);
}


/* Desktop not wide */
@media (max-width:1439px) and (min-width:1025px){

    body,html{
        background-color:rgb(245, 245, 245);         
         font-family: 'Montserrat', sans-serif;
    }
  
  
   .SHADOW{
   
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);    
   }

   .BRAND{
    color: rgb(0, 0, 0);
    font-size: 100px;
    position: absolute;
    top: 40%; 
    width: auto;
    left: 15%;
    font-family: 'Montserrat', sans-serif;
}

.FORM{
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 40% ;
    max-width: 750px;
    min-height: 515px;
    height: 70% ;
    left: 55%;
    right: 5%;
    top: 15%;
    bottom: 15%;
    background-color:rgb(250, 250, 250);         
}

.TITLE{
position: relative;
width: 100%;
height: 10%;
text-align: center;
margin-top: 10px;
margin-bottom: 50px;
color: rgb(0, 0, 0);
}

.MY_BTN{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color:  rgb(97, 37, 138); 
}

.MY_BTN:hover {
    background-color:  rgb(52, 20, 73); 
}


.INPUT_DIV{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    border-style: none;
} 

.INPUT_DIV:focus{
    border-color :none;
    box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
    5px 5px 30px 5px rgba(0, 0, 0,0.090);    
}


.SIGNIN_LINK_DIV{
position: relative;
padding: 5px;
width: 80%;
left: 10%;
right: 10%;
margin-top: 10px;
color: white;
font-family: 'Montserrat', sans-serif;

}

.SIGNIN_LINK{
    position: absolute;
    top: 0;
    width: 30%;
    left: 70%;
    color:  white;
    text-decoration: none;
    background-color: rgb(97, 37, 138); 
}




.SIGNIN_LINK:hover {
    background-color:  rgb(52, 20, 73); 
}


.SIGNIN_LINK_DUMB{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 100ms;
}

.SIGNIN_LINK_DUMB:hover{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

}




/* Ipad */
@media (max-width:1024px) and (min-width:720px){
  
    .BRAND{
        color: rgb(0, 0, 0);
        font-size: 70px;
        position: absolute;
        top:70%; 
        width: auto;
        left: 25%;
        right: 25%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .FORM{
        position: absolute;
        padding: 10px;;
        width: 80% ;
        height: 50% ;
        left: 10%;
        right: 10%;
        top: 5%;
        bottom: 15%;
        background-color:  rgb(245, 245, 245);
        ;
    }
    
    .TITLE{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px
    }
    
    .MY_BTN{
        position: relative;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        height: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        background-color:  rgb(97, 37, 138); 
    }
    

    
    .MY_BTN:hover {
        background-color:  rgb(97, 37, 138); 
        border:  rgb(97, 37, 138); ;
    }
    
    .MY_BTN:focus {
        background-color:  rgb(97, 37, 138); 
        border:  rgb(97, 37, 138); 
    }
    .INPUT_DIV{
        position: relative;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        height: 15%;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border-style: none;
    } 
    
    .INPUT_DIV:focus{
        border-color :none;
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);  
    }
    
    .SIGNIN_LINK_DIV{
        position: relative;
        padding: 0px;
        padding-top: 7px;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        margin-top: 20px;
        color: white;
        }
        
        .SIGNIN_LINK{
            position: absolute;
            top: 0;
            width: 30%;
            left: 70%;
            color:  white;
            text-decoration: none;
            background-color: rgb(97, 37, 138); 
        }
   
}



/* Iphone */
@media (max-width:720px) and (min-width:320px){
    .BRAND{
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 83%; 
        width: auto;
        left: 2.5%;
        right: 2.5%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .FORM{
        position: absolute;
        padding: 0;
        width: 95% ;
        height: 70% ;
        left: 2.5%;
        right: 2.5%;
        top: 2.5%;
        bottom: 15%;
        background-color:rgb(245, 245, 245);
    }
    
    .TITLE{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    font-size: 20px
    }
    
    .MY_BTN{
        position: relative;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        height: 12%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        background-color:  rgb(97, 37, 138); 
        
    }
    
    .MY_BTN:hover {
        background-color:   rgb(97, 37, 138); ; 
        border:   rgb(97, 37, 138); 
    }


    .MY_BTN:active{
        background-color:  rgb(97, 37, 138);  
        border:  rgb(97, 37, 138); 
    }
    
    .INPUT_DIV{
        position: relative;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        height: 12%;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border-style: none;
        text-decoration: none;
    } 
    
    .INPUT_DIV:focus{
        border-color :none;
        box-shadow:-5px -5px 30px 5px rgba(0, 0, 0, 0.090),
        5px 5px 30px 5px rgba(0, 0, 0,0.090);  
    }
    
    .SIGNIN_LINK_DIV{
        position: relative;
        padding: 0px;
        padding-top: 7px;
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        margin-top: 20px;
        color: white;
        }
        
        .SIGNIN_LINK{
            position: absolute;
            top: 0;
            width: 31%;
            left: 69%;
            color:  white;
            text-decoration: none;
            background-color: rgb(97, 37, 138); 
        }
}
